:root {
  background-color: black;
  height: 100%;
  -moz-user-focus: ignore;
}

video {
  position: absolute;
  inset: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-focus: normal;
}

video:focus {
  outline-style: none;
}
